.project-card-collection {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 50px;
  flex: content;
}

.project-card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 20px;
	background-color: rgba(100, 149, 237, 0.3);
	border-radius: 2vw;
	/* flex: 30%; */
	transition: all 0.3s ease-in-out;
	padding: 15px;
  width: 500px;
	height: max-content;
}

.project-card:hover {
	transform: scale(1.05);
}

.project-card h1 {
	font-family: "Didact Gothic", sans-serif;
}

.project-card p {
	color: rgb(170, 180, 190);
	padding: 20px;
}

.project-card-img {
	width: 100%;
	/* height: 30%; */
	margin-bottom: 20px;
	border-radius:1vw;
}

.project-card-website {
	text-decoration: none;
	color: grey;
}
.project-card-code {
	text-decoration: none;
	color: gray;
}

.project-card-website:hover {
	color: white;
}

.project-card-code:hover {
	color: white;
}

@media only screen and (max-width: 600px) {
	.project-card {
		/* background-color: lightblue; */
		padding: 5px;
		height: 50%;
		margin: 10px;
	}

	.project-card-img {
		width: 300px !important;
		margin-bottom: 10px;
	}

	.project-card p {
		font-size: 1rem;
	}
}
